name: Deploy Documentation

on:
  push:
    branches:
      - master
      - "hw/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy-docs:
    name: Build and deploy MkDocs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # нужно для git history в MkDocs

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MkDocs dependencies
        run: |
          pip install --upgrade pip
          pip install mkdocs mkdocs-material

      - name: Build documentation
        run: mkdocs build --strict

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
